        <li style="display: inline-block">
            <h5>Is this traffic malicious or benign?</h5>
        </li>
        <li style="display: inline-block">
            <a style="padding: 10px;"></a>
        </li>
         <li style="display: inline-block">
            <button type="submit" style="background-color: transparent; border: none; color: red;" name="label" value="malicious"><b>Malicious</b></button>
        </li>
        <li style="display: inline-block">
            <a style="padding: 10px;"></a>
        </li>
        <li style="display: inline-block">
            <button type="submit" style="background-color: transparent; border: none; color: green;" name="label" value="benign"><b>Benign</b></button>
        </li>
