        <li style="display: inline-block">
            <h5>Is it an intrusion?</h5>
        </li>
        <li style="display: inline-block">
            <a style="padding: 10px;"></a>
        </li>
         <li style="display: inline-block">
            <a href="/" style="color: red;"><b>Yes</b></a>
        </li>
        <li style="display: inline-block">
            <a style="padding: 10px;"></a>
        </li>
        <li style="display: inline-block">
            <a href="/" style="color:green"><b>No</b></a>
        </li>